* {
margin: 0;
padding: 0;
}
.page{
    
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(7.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
    
}
.pic{
    margin-left: 50px;
    height: 800px;
    width: 275 px;
    float: left ;
}
.pic .bt{
    width: 140px;
    height: 40px;
    background: white;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 30px;
}

.img3 {
    width: 275px;
    height: 184px;
    background-image: url(3.jpg);
    margin-top: 10px;
}

.img4 {
    width: 275px;
    height: 190px;
    background-image: url(4.jpg);
    margin-top: 10px;
}

.img6 {
    width: 275px;
    height: 183px;
    background-image: url(6.jpg);
    margin-top: 10px;
}
.pic2{
    height:700px;
    width: 500px;
    float: left ;
    margin-left: 110px;
    margin-top: 10px;
}
.img5{
    width: 600px;
    height: 500px;
    background-image: url(5.jpg);
    float:right;
    margin-top: 37px;
    
}
.pic3{
    width: 300px;
    height: 1000px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;    
}
.img8{
    width: 300px;
    height: 168px;
    background-image: url(8.jpg);
    float:right;
    margin-top: 37px;
    
}
.img9{
    width: 300px;
    height: 168px;
    background-image: url(9.jpg);
    float:right;
    margin-top: 10px;
    
}
.img10{
    width: 300px;
    height: 168px;
    background-image: url(10.jpg);
    float:right;
    margin-top: 10px;
}
